@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
    --cor0: #E1A1FD;
    --cor1: #8B73FF;
    --cor2: #e1a1fd70;
    --cor3: #2911335e;
    --cor4: #636E88;
}

body {
    background-color: var(--cor2);
    min-height: 38vh;;
}

header {
    text-align: center;
    margin: 60px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    white-space: nowrap;
}

section > img {
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
    border-radius: 50%;
    vertical-align: middle;
}

hr {
    border: 10px;
    margin: 10px;
    width: 100%;
    height: 1px;
    background-color: var(--cor3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
}

h1:hover {
    color: var(--cor1);
    transition: 0.5s;
}

ul {
    vertical-align: middle;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 a {
    font-size: 20px;
    font-weight: bold;
    color: var(--cor3);
    text-decoration: none; /* Remove o sublinhado */
}

h2 a:hover {
    color: var(--cor4);
    transition: 0.5s;
}

li {
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    display: inline-block; 
}